body {
  margin: 0;
  background: rgb(166, 170, 255);
  background: radial-gradient(circle, rgba(166, 170, 255, 1) 58%, rgba(0, 212, 255, 1) 72%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
.links {
  display: flex;
  justify-content: space-between;
}
.tabela {
  display: flex;
  flex-direction: column;
}
table, th, td {
  border: 1px solid;
}